{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">

    <div class="row">

        <div class="col-md-7">
            <div class="fiddle-header">
              <span class="fiddle-name">New project</span><!-- by <a class="fiddle-user">Sketchfab team</a>-->
            </div>
            <iframe sandbox="allow-scripts" id="editor-iframe" src="about:blank" style="height:600px"></iframe>
        </div>

        <div class="col-md-5">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab-js" role="tab" data-toggle="tab">JavaScript</a></li>
            <li role="presentation"><a href="#tab-html" role="tab" data-toggle="tab">HTML</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab-js">
              <div id="editor-code-js"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-html">
              <div id="editor-code-html"></div>
            </div>
          </div>

        </div>

    </div>

</div> <!-- /container -->

<div class="modal fade" tabindex="-1" role="dialog" id="embed-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Embed this Sketchfiddle</h4>
      </div>
      <div class="modal-body">
        <p>Use this code to embed this Sketchfiddle in your website:</p>
        <textarea style="width:100%;height:70px;" readonly id="embed-code"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="{% static "js/codemirror.js" %}"></script>
<script src="{% static "js/codemirror-javascript.js" %}"></script>
<script src="{% static "js/codemirror-xml.js" %}"></script>
<script src="{% static "js/codemirror-htmlmixed.js" %}"></script>
<script src="{% static "js/codemirror-autorefresh.js" %}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="{% static "js/sketchfiddle-edit.js" %}"></script>
{% endblock %}