{% load staticfiles %}
<!DOCTYPE HTML>
<html style="height:100%;">
<head>
    <meta charset="UTF-8">
    <title>Sketchfiddle runner</title>

    <script type="text/javascript" src="https://static.sketchfab.com/api/sketchfab-viewer-1.0.1.js"></script>
    <script src="{% static "js/sketchfiddle-run.js" %}"></script>
</head>

<body style="margin:0;padding:0;overflow:hidden;height:100%;">

    <iframe src="" style="width:100%;border:0;" height="100%" id="sketchfab-embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>

</body>
</html>